:root {
    --color-orange-10: #FD853A;
    --rounded-50: 50px;
    --rounded-60: 60px;
}

.nav {
    min-width: calc(var(--container-xs) * 3);
    border-radius: var(--rounded-50);
    /* background-color: rgb(3 7 18 / 0.75); */
    background-color: #171717;
}

.nav-item {
    @apply flex items-center justify-center h-full;
    width: 136px;
    border-radius: var(--rounded-60);
    /* color: #6b7280; */
    color: #ffffff;

    &:hover {
        color: var(--color-white);
    }
}

.active-item {
    border-radius: var(--rounded-60);
    font-weight: var(--font-weight-bold);
    /* background-color: rgb(3 7 18 / 0.9); */
    background-color: #FD853A;
}

.nav-label {
    font-size: var(--text-xl);
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 2);
}

.avatar {
    @apply flex items-center justify-center;
    width: 50px;
    height: 50px;
    border-radius: var(--rounded-50);
    background-color: var(--color-gray-400);
}