/* rounded */
@utility rounded-5.5xl {
    border-radius: 3.25rem;
}
@utility rounded-6xl {
    border-radius: 3.75rem;
}
@utility rounded-6.5xl {
    border-radius: 4rem;
}   
@utility rounded-7xl {
    border-radius: 4.25rem;
}
@utility rounded-7.5xl {
    border-radius: 4.5rem;
}


/* text */
@utility text-1.5xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

/* background */
@utility bg-footer {
    background-color: #272727;
}

/* padding */
@utility px-71px {
    padding-inline: 71px;
}