/* @import url('https://fonts.cdnfonts.com/css/lufga'); */
@import "tailwindcss";
@import "./utilities.css";

@font-face {
    font-family: 'Lufga';
    src: url('https://fonts.cdnfonts.com/s/67775/LufgaRegular.woff') format('woff');
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: rgb(17 24 39/1); */
    font-family: 'Lufga', sans-serif;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.animate-shimmer {
    animation: shimmer 2s infinite linear;
}